.main{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.first_div{
    align-items: center;
    display: flex;
    flex-direction: row;
    float: right;
    gap: 7px;
    justify-content: right;
    margin-right: 40px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.second_div{
  overflow: auto;
  padding: 20px;
 
}

.div_father{
    height: 100%;
    overflow: auto;
    width: 100%;
}

.cards{
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.main_cards{
    background-color: #f1fafb;
    border: 1px solid #a38ede;
    border-radius: 12px;
    display: flex;
    flex-direction: column;    
    margin-bottom: 30px;
 }

.sepration{
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
    text-align: left;
}

.div1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}


.language{
    display: flex;
}

.editbtn{
    display: flex;
    justify-content: right;
    padding: 10px;
}

.btn_edit{
    background-color: #15224c;
    border: none;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    justify-content: center;
    margin: -1px;
    padding: 10px;
}  

.btn_edit:hover{
    background-color: #14B1C1;
}