/* 
.rootContainer{
	height: 100%;
}

.r{
   background-color: white;
   height: 100vh;
   flex-direction: column;
   display: flex;
   justify-content: center;
   align-items: center
  }
  .logoImg{

   height: 100px;

  }
  .formSection{
    padding: 5rem 0rem;
  }
  .formContainer{
   width: 60% !important;
   text-align: center;
  }
.leftContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #083f91;
}
.main{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.btn1{
  color: white !important;
  background-color: #083f91 !important;
  border: 2px solid  #002df8 ;
  margin-top: 1rem;
  padding: 0.5rem 0rem
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading{
  font-size: 40px;
  font-weight: bold;
  color: #083f91;

}

.btn1:hover {
border-color:#274df7 ;
}
.btn1:focus{
  border-color: #030d3a  !important;
}
.em:hover{
border-color:  #274df7 ;
}
.em{
  border: 1px solid rgb(185, 181, 181);
  padding: 0.5rem 1rem;
  
}
.em:focus{
  border-color:#002df8  !important;
} */
.mainContainer{
display: flex;
flex-direction: row;
}
.leftContainer{
  background-color:var(--primary-light-bg-color);
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightContainer{
  width: 50%;
  background-color:var( --primary-light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* background-color: aqua; */
}
.rightContaint{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30%;
  /* background-color: blueviolet; */
}
.formContaint{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  gap: 3%;
}

.email{
  margin: 10%;
}
.password{
  margin-bottom: 10%;
}

.login{
  font-weight: bold;
  color: var(--primary-light-bg-color);
}
/*-------------------Media Query-----------------*/

@media screen and (max-width: 767px) {
  .mainContainer {
    flex-direction: column;
  }

  /* .leftContainer,
  .rightContainer {
    width: 100%;
  } */
  .leftContainer{
    width: 0%;
    height: 0%;
  }
  .rightContainer {
    width: 100%;
  }
  .rightContaint {
    gap: 10%;
  }

  .email,
  .password {
    margin: 5%;
    width: 100%;
  }

  .formContaint {
    margin: 15px;
    gap: 3%;
  }

  .customButton {
    width: 80%;
  }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .mainContainer {
    flex-direction: row;
  }

  .leftContainer,
  .rightContainer {
    width: 50%;
  }

  .rightContaint {
    gap: 30%;
  }

  .email,
  .password {
    width: 80%; 
  }

  .customButton {
    width: 60%; 
  }
}
