.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
 
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.leftForm {
  display: flex;
  flex: 2 1;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center;
  position: relative;
  height: 100%;
  color: #14B1C1;
  background-image: url('../../Assest/giphy.webp');
  background-size: cover;
  background-position: center;
}

.Qute {
  text-align: center; 
  margin-top: 20px; 
  font-size: 30px;
  font-weight: bold
}

.logo1 {
  margin-top: 20px;
  font-size: 36px;
  font-weight: bold;
}

.rightFrom {
  flex: 1 ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  margin-top: 150px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 100px rgba(10, 122, 202, 0.1);
}

.logo {
  
  font-size: 36px;
  font-weight: bold;
}


.formMain {
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.formMain1 {
  
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.formRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.formColumn {
  flex: 1;
  margin-right: 10px;
}

.label {
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.loginButton {
  background-color: #15224c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.loginButton:hover {
  background-color: #14B1C1;
}
