.mainContainer{
    margin: 40px;
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap:30px;
    align-items: start;
  
}
.topContainer{
display: flex;
flex-direction: row;
justify-content: space-between;

}
.active{
    margin-right: 5px;
}