.rightBtn {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0px;
  font-weight: 600;
  font-size: large;
  /* border-bottom: 2px solid #000; */
  }

  .leftBtn {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0px;
  font-weight: 600;
  font-size: large;
  /* border-bottom: 2px solid #000; */
  }

  .rightBtn:hover,
.leftBtn:hover,
.rightBtn:focus,
.leftBtn:focus {
  /* background-color: #14B1C1; */
  border-bottom: 2px solid #000;
}
  /* .rightBtn:hover{
    border-bottom: 2px solid #000;
  }

  .leftBtn:hover{
    border-bottom: 2px solid #000;
  } */

  .parentTrainee{
    width: 100%;
    height: auto;
    overflow: auto;
  }

.tabNavigation{
  display: flex;
  padding: 25px;
  justify-content: space-between;
}

.buttons{
  width: 17%;
  display: flex;
  justify-content: space-around;
}
