.getActContainer {
    display: flex;
    flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 2% 0;
}

.getActDropdownsLayout {
	display: inline-block;
	margin: 5px 10px;
}

.p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  font-weight: bold;  
  color: #f04545;
  }
.errorText{
  font-size: 18px;
  color: red;
}

@media screen and (max-width: 770px) {
	.getActContainer {
		flex-direction: column;
	}
}