.btn {
    width: 150px;
    height: 40px;
    color: var(--btn-primary-text-color);
    background-color: var(--btn-primary-bg-color);
    border-radius: var(--primary-border-radius);
    border: 0px;
    box-shadow: 1px 1px 1px var(--btn-primary-shadow-color);
}

.btn:active {
    box-shadow: none;
}
.btn:hover{
    background-color: var(--primary-light-hover-bg-color);
}