.btnDiv{
    display: flex;
    justify-content: end;
    margin: 25px;
}
.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100vh; */
}
.container1{
    /* background-color: rgb(174, 187, 187); */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
    /* height: 100vh;
    width: 100vh; */
}
.allCourses{
    font-weight: bold;
    margin: 10px;
}
.buttonGroup {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    font-weight: bold;
}

.tabButton {
    background-color: transparent;
    border: none;
    color: #020202;
    padding: 10px 20px;
    margin: 20px 30px;
    cursor: pointer;
    font-weight: bold;
    /* border-radius: 4px; */
    transition: background-color 0.3s ease;
}

.tabButton:hover {
    /* background-color: #e0e0e0; */
}

.activeButton {
    /* background-color: #007bff; */
    /* text-c */
    color: var(--primary-light-bg-color);
    border-bottom: 3px solid var(--primary-light-bg-color);
}

.btnDiv {
    margin: 20px;
}

/* .allCourses {
    font-size: 24px;
    margin-bottom: 20px;
}

.mainContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
} */

.container1 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.displayCard{
    width: 100%;
    display: flex; 
    justify-content: center;
}
.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
