
.main_div {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left:190px;
  }

  .h2_div{
    margin-bottom:3px ;
    margin-top: 40px;
  }
  
  .inner_main {
    background-color:#eef8fa;
    border: 1px solid #a38ede;
    border-radius: 10px;
    box-shadow: 0 0 4px black;
    padding: 20px;
    width: 80%;
  }
  
  .first_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .left{
    float: left;
  }

  .right{ 
   float: right;
  }
 
.secoand_div {
    display: flex;
    flex-direction: row;
  }

  .row1_div{
    padding: 20px;
  }

  .row2_div{
    padding: 20px;
  }

  .row3_div{
    padding: 20px;
  }
  
  
  .third_div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .comment{
    text-align: center;
  }

  .link {
    text-align: center;
  }
  
 .fourth_div{
  display: flex;
  justify-content: right;
 }

 .btn{
  background-color: #15224c;
    border: none;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    margin: 6px;
    padding: 7px;
    width: 9%;
 }

.btn:hover{
  background-color: #14B1C1; 
} 