.rootContainer {
    background-color:var(--primary-light-bg-color);
    width: 100%;
}

.navContainer{
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.logoutImg {
    width: 25px;
    filter: invert(1);
    margin-right: 20px;
}
