/* Review: Align the classnames according to the heirarchy of usage */
.navBg{
    background-color:#141544;
    height: 50px;
    
    display: flex;
    /* Review: use flex-end instead of end */
    justify-content: end;

}

.img{
    margin-right: 20px;
    height: 50px;
    width: 50px;
}


.logout{
    text-align: center;
    color: white;
}
.main{
    text-align: center;
}