/* Sidebar.module.css */
.sidebar {
    width: 125px;
    height: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
    /* Add a smooth sliding effect */
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 2rem
  }
   
  .sidebar li {
    margin-bottom: 20px;
  }
  
  .sidebar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block; /* Make the entire link area clickable */
  }
  
  .sidebar a:hover {
    color: #BBB;
  }
  
  /* Add styles for the close button if needed */
  .close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  
  /* Add styles for the open state if needed */
  .open-sidebar {
    transform: translateX(0);
  }
  
  /* Add styles for the content to shift when the sidebar is open */
  .content-shift {
    margin-left: 250px;
  }
  