.sidebarContainer {
	background-color: var(--primary-light-bg-color);
	padding: 0 5px;
	color: var(--primary-light-color);
	height: 100vh;
	position: sticky;
	width: 180px;
	top: 0;
	cursor: pointer;
	/* transition: all 0.5s; */
}

.topSection {
	align-items: center;
	display: flex;
	/* background-color: red; */
	padding: 10px 8px;
}

.bars {
	border-bottom: 1px solid var(--primary-light-color);
	padding: 2px 8px;
}

.link {
	color: var(--primary-light-text-color);;
	display: flex;
	gap: 10px;
	transition: all 0.25s;
	text-decoration: none;
	margin: 5px 0;
	padding: 10px 5px;
	border-radius: 5px;
}

.link:hover {
	background: lightskyblue;
	color: #000;
}

.menuIcon {
	width: 22px;
	filter: invert(1);
}

.logo{
  height: 70px;
  width: 70px;
}

.active{
  background: lightskyblue;
  color: #000;
}






