.sidebarContainer {
	background-color: #141544;
	padding: 0 5px;
	color: #fff;
	display: inline-block;
	height: 100vh;
	width: 175px;
	cursor: pointer;
	transition: all 0.5s;
}

.topSection {
	align-items: center;
	display: flex;
	padding: 20px 15px;
}

.bars {
	border-bottom: 1px solid white;
	padding: 2px 10px;
}

.link {
	color: #faf4f4;
	display: flex;
	gap: 15px;
	transition: all 0.25s;
	text-decoration: none;
	margin: 5px 0;
	padding: 5px 13px;
	border-radius: 5px;
}

.link:hover {
	background: lightskyblue;
	color: #000;
}

.menuIcon {
	width: 25px;
	filter: invert(1);
}

.logo{
  height: 70px;
  width: 70px;
}

.active{
  background: lightskyblue;
  color: #000;
}






