
.top-container {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .dropdown {
    background-color: #14B1C1;
    margin-right: 20px;
  }
  
  .dropdown select {
    border-color: #14B1C1;
    padding: 10px;
    width: 200px;
   }
  
  .act-btn {
    background-color: #15224c;
    border: none;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    margin: -1px;
    padding: 10px;
    width: 9%;
  }
  
  .act-btn:hover{
    background-color: #14B1C1; 
  }

.act-box {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }

.table-main {
  background-color: #bde3eb;
  border: 2px solid black;
  border-collapse: collapse;
  border-radius: 9px;
}

.th {
  background-color: #15224c;
  color: #fff;
  padding: 10px;
  text-align: center;
  
}

tr:nth-child(even) {
  background-color: white; 
}

.td {
  align-items: center ;
  border: 2px solid black;
  justify-content: center;
  padding: 10px;
  vertical-align: middle;
}

.p {
  align-items: center;
  color: #f04545;
  display: flex;
  font-weight: bold;  
  justify-content: center;
  margin: 10px 0;
 }

.td-inner{
  border: 3px solid black;
  padding: 10px;
  vertical-align: top;
}

.btn-div{
  align-items: center;
  display: flex;
  justify-content: center;
}

.save-btn{
  background-color: #15224c;
  border: none;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  justify-content: center;;
  margin: -1px;
  padding: 10px;
 }


.main-div{
  margin: 20px;
  
}

.error-text{
  color: red;
  font-size: 18px;
}
  
  