.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
    color: var(--secondary-light-text-color);
}

.outerContainer{
    background-color: #ffdeaf;
    max-width: 500px;
    width: 100%;
    border-radius: 5px;
    padding: 30px;
    border: none;
}

.title{
    padding: 5px 0;
}

.inputBoxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 25px;
}