body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: cursive;
	font-size: medium;
}

code {
  	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
	--primary-light-theme: #282975;
	--primary-light-bg-color: #282975;
	--primary-light-color: white;
	--primary-light-text-color: white;
	--primary-border-radius: 5px;

	--btn-primary-bg-color: var(--primary-light-bg-color);
	--btn-primary-text-color: var(--primary-light-text-color);
	--btn-primary-shadow-color: #171958;
}