body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: small;
}

code {
  	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
	/* font-family:; */
}

:root {
	--primary-light-theme: #00415a;
	--primary-light-bg-color: 		#009bd6;
	--primary-light-hover-bg-color:	#00b8ff;
	--primary-light-btn-color: 	#009bd6;
	--primary-light-color: white;
	--primary-light-text-color: white;
	--secondary-light-text-color: black;
	--primary-border-radius: 5px;

	--btn-primary-bg-color: var(--primary-light-bg-color);
	--btn-primary-text-color: var(--primary-light-text-color);
	--btn-primary-shadow-color: #171958;
}