.btnDiv{
    display: flex;
    /* Review: use flex-start instead of start */
    justify-content: start;
    gap: 20px;
}
.AtBtn{
    background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: large;
  font-weight: 600;
  margin: 0 px;
  padding: 10px 20px;
  color:var(--primary-light-theme);
}

.AtBtn:hover{
    border-bottom: 2px solid var(--primary-light-theme);
}