/* Admin.module.css */
.tabNavigation {
  display: flex;
  justify-content: left;
  padding: 10px;
  margin: 3px;
  /* background-color: #15224c; */
}

/* .rightBtn,
.leftBtn {
  background-color: transparent;
  color: #15224c;
 
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0px;
  font-weight: 600;
  font-size: large;
} */

.rightBtn {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0px;
  font-weight: 600;
  font-size: large;
  /* text-underline-offset; */
  
}

.leftBtn {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0px;
  font-weight: 600;
  font-size: large;
  /* border-top-left-radius: 0;  */
}

.rightBtn:hover,
.leftBtn:hover {
  /* background-color: #14B1C1; */
  border-bottom: 2px solid #000;

}
.tabContent{
  
  /* background-color: yellow; */
} 
.activeNav{
 border-bottom: #15224c;
}

