.rightBtn {
    /* background-color: #3498db; */
    /* width: 10%;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 0px;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);    
    top: 70px;
    position: fixed;
    right: 20px; */
    background-color: #333;
    width: 10%;
    color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  position: fixed;
  top: 70px; 
  left: 350px; 
  }

  .leftBtn {
    /* background-color: #e74c3c; */
    /* color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer; */
    background-color: #333;
    width: 10%;
    color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  position: fixed;
  top: 70px; 
  left: 180px;
  }