
.trainees_table {
  width: 98.5%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 5px;
  margin: 10px;
  tbody tr:nth-child(even) {
    background-color:  #ffdeaf; 
  }

  tbody tr:nth-child(odd) {
    background-color: #ffffff; 
  } 
}

.trainees_table th,
.trainees_table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}

.scrollable_body {
  max-height: 300px; 
  overflow-y: auto; 
}
.table_head{
  background-color: var(--primary-light-bg-color);
	color: var(--primary-light-color);
}


/* .pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  cursor: pointer;
  margin: 0 5px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  text-decoration: none;
}

.pagination a:hover {
  background-color: #eee;
}

.pagination .active {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}


.pagination .previous,
.pagination .next {
  background-color: #007bff;
  color: #fff;
  padding: 8px 12px;
  border: 1px solid #007bff;
  border-radius: 4px;
  margin: 0 5px;
}

.pagination .previous:hover,
.pagination .next:hover {
  background-color: #0056b3;
  border-color: #0056b3;
} */

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  display: block;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.pagination li.active a,
.pagination li a:hover {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.pagination li.disabled a {
  pointer-events: none;
  background-color: #ddd;
  color: #666;
  border-color: #ddd;
}

  